body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303137;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    border-style:groove;
    border-color: #fff;
    border-radius: 10px;

}
video {
    width: 100%;
    height: auto;
    display: block;
}

.backbox .video-container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    background-color: #1e1f26;
}

.backbox h1{
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center; 
    background-color: #1e1f26;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;

}
